<!-- views/admin/dashboard.ejs -->

<nav>
    
    <ul>
        <li><a href="#" onclick="loadContent('/admin/users', 'users'); return false;">Manage Users</a></li>
        <li><a href="#" onclick="loadContent('/admin/properties', 'properties'); return false;">Manage Properties</a></li>
        <!-- <li><a href="#" onclick="loadContent('/admin/rooms', 'rooms'); return false;">Manage Rooms</a></li> -->
        <!-- <li><a href="/admin/bookings">Manage Bookings</a></li> -->
        <li><a href="#" onclick="loadContent('/admin/bookings', 'booking'); return false;">Manage Bookings</a></li>
        <li><a href="#" onclick="loadContent('/admin/messages', 'messages'); return false;">client message</a></li>
        <li><a href="#" onclick="loadContent('/admin/analytics', 'analytics'); return false;">Analytics</a></li>
        <li><a href="#" onclick="loadContent('/settings', 'settings'); return false;">Settings</a></li>
        <!-- <li><a href="#" onclick="loadContent('/notifications', 'notifications'); return false;">Notifications</a></li> -->
        <!-- <li><a href="#" onclick="loadContent('/other', 'other'); return false;">Other</a></li> -->
        
    </ul>
</nav>
